<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flask</title>
    <link rel="shortcut icon" href={{ url_for('static', filename='favicon.ico') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/skeleton.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/index.css') }}>
    <script src="//www.youtube.com/iframe_api"></script>
    <script src='http://chaijs.com/chai.js'></script>
    <script src='http://sinonjs.org/releases/sinon-1.17.7.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src={{ url_for('static', filename='js/angular-youtube-embed.js') }}></script>
    <script type="text/javascript" src={{ url_for('static', filename='js/app.js') }}></script>
    <script type="text/javascript" src={{ url_for('static', filename='js/sessions.js') }}></script>
    <script type="text/javascript" src={{ url_for('static', filename='js/playlists.js') }}></script>
    <script type="text/javascript" src={{ url_for('static', filename='js/searchyt.js') }}></script>
    <script type="text/javascript" src={{ url_for('static', filename='js/searchpl.js') }}></script>
  </head>
  <body ng-app='mixtapemaker'>
    <section id='playlists' ng-controller='Playlist'>
      <section ng-if='signedin && !searching'>
        <h1 class='title'>MixtapeMaker</h1>
        <!-- <button ng-click='printScope()'>Scope</button><br> -->
        <section id='myPlaylists'>
          <ul class='navbar translucent'>
            <button ng-click='signout()'>Sign Out</button>
            <button ng-click='searchMuse()'>Search Muse</button>
            <button ng-click='searchPlaylists()'>Search for Mixtapes</button>
            <button ng-if='!modifying' ng-click='modifyingList()'>Create a Mixtape</button>
            <form ng-submit='createPlaylist()' ng-if='modifying'>
              <input type='text' ng-model='$parent.$parent.playlistName' placeholder='Name'></input>
              <input type='submit'></input>
              <button ng-click='modifyingList()'>Cancel</button>
              <p ng-if='playlisterror'>A playlist with this name already exists</p>
            </form>
            <br ng-if='!modifying'>
            <span ng-repeat='playlist in playlists'>
              <li class='plbtn' ng-click='changePlaylist($index)'>{a playlist.name a}</li>
            </span>
          </ul>
          <section class='search eight columns offset-by-two columns translucent'>
            <h3 style='text-align: center;'>
              {a currentPlaylist.name a}
              <button ng-if='currentPlaylist' ng-click='search()'>Add Song</button>
            </h3>
            <article ng-if='currentPlaylist.videos.length > 0' ng-repeat='vid in currentPlaylist.videos' class='four columns video' ng-style='imgStyle($index)'>
              <div class='video--vidName'>{a vid.name a}</div>
              <div ng-if='$index === currentVideo' class='video--iframe'>
                <youtube-video video-id='vid.ytId' player-width="'100%'" player-height="'100%'" player-vars='{autoplay: 1}' player='video'></youtube-video>
              </div>
              <div ng-if='$index !== currentVideo' ng-attr-id="{a 'img'+($index) a}" ng-click='startVideo($index)' class='video--placeholder' ng-mouseenter='imgMouseOver($index)' ng-mouseleave='imgMouseLeave($index)'>
                <img class='video--placeholder-main' ng-src='{a imgUrl(vid.ytId) a}'></img>
                <img class='video--placeholder-btn' src={{ url_for('static', filename='img/ytPlay.png') }}></img>
              </div>
              <img style='width: 30px; height: 30px; text-align: center; cursor: pointer;' ng-click='removeVideo(vid.name)' src={{ url_for('static', filename='img/delete.png') }}></img>
            </article>
          </section>
        </section>
      </section>
    </section>
    <section id='search' ng-controller='SearchYT'>
      <article ng-if='searching' id='searchYoutube'>
        <section class='search eight columns offset-by-two columns translucent'>
          <h3>
            Search YouTube
            <img class='btn add play' ng-click="end()" src={{ url_for('static', filename='img/delete.png') }}></img>
          </h3>
          <input ng-model='$parent.key' placeholder="Artist/Song/Album"></input>
          <button ng-click="searchVideos()">Go</button>
          <br>
          <div ng-if='result' class="search list">
            <span ng-repeat='vid in result'>
              <span class='four columns'>
                {a parseName(vid.snippet.title) a}
                <br>
                <youtube-video video-id='vid.id.videoId' player-width="'200px'" player-height="'150px'" ></youtube-video>
                <br>
                <img ng-click='addVideo(vid.id.videoId, vid.snippet.title, $index)' class='add' src={{ url_for('static', filename='img/add.png') }}></img>
                <img ng-if='addedVideos.includes($index)' class='add' src={{ url_for('static', filename='img/check.png') }}></img>
              </span>
            </span>
          </div>
        </section>
      </article>
    </section>

    <section id='search' ng-controller='SearchPl'>
      <article ng-if='searching' id='searchYoutube'>
        <section class='search eight columns offset-by-two columns translucent'>
          <h3>
            Search Mixtapes
            <img class='btn add play' ng-click="end()" src={{ url_for('static', filename='img/delete.png') }}></img>
          </h3>
          <input ng-model='$parent.key' placeholder="Search for Mixtapes"></input>
          <button ng-click="searchMixtapes()">Go</button>
          <br>
          <div ng-if='playlists' class="search list">
            <span ng-repeat='playlist in playlists'>
              <span class='four columns'>
                {a playlist.name a}
                <br>
                Users: {a playlist.users.length a}
                <br>
                Songs: {a playlist.videos.length a}
                <br>
                <img class='add' ng-click='addPlaylist($index)' src={{ url_for('static', filename='img/add.png') }}></img>
                <img ng-if='addedPlaylists.includes($index)' class='add' src={{ url_for('static', filename='img/check.png') }}></img>
              </span>
            </span>
          </div>
        </section>
      </article>
    </section>
    <nav class='translucent' id='accounting' ng-controller='Account'>
      <!-- <button ng-click='printScope()'>Scope</button><br> -->
      <section style='text-align: center;' ng-if='!signedin'>
        <h1 class='title login'>MixtapeMaker</h1>
        <button class='logbtn' ng-click="switchState('signin')">Sign In</button>
        <button class='logbtn' ng-click="switchState('signup')">Sign Up</button>
        <form ng-if="currentState === 'signup'" ng-submit='signup()'>
          <h3>Sign Up</h3>
          <label>Email: </label><input name='email' type='email' ng-model='$parent.$parent.uemail' placeholder="email"></input>
          <label>Password: </label><input  name='password' type='password' ng-model='$parent.$parent.upassword' placeholder="password"></input>
          <br>
          <input type='submit'></input>
          <p ng-if='signingup'>Signing you up...</p>
          <p ng-if='signuperror'>This email already exists</p>
        </form>
        <form ng-if="currentState === 'signin'" ng-submit='signin()'>
          <h3>Sign In</h3>
          <label>Email: </label><input ng-model='$parent.$parent.iemail' type='email' name='email' placeholder="email"></input>
          <label>Password: </label><input  ng-model='$parent.$parent.ipassword' type='password' name='password' placeholder="password"></input>
          <br>
          <input type='submit'></input>
          <p ng-if='signingin'>Signing you in...</p>
          <p ng-if='signinerror'>This email/password combination is invalid</p>
        </form>
      </section>
    </nav>
  </body>
</html>
