<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flask</title>
    <link rel="shortcut icon" href={{ url_for('static', filename='favicon.ico') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/skeleton.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/index.css') }}>
    <script src="//www.youtube.com/iframe_api"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src={{ url_for('static', filename='js/angular-youtube-embed.js') }}></script>
    <script type="text/javascript" src={{ url_for('static', filename='js/main.js') }}></script>
    <script type="text/javascript" src={{ url_for('static', filename='js/app.js') }}></script>
    <script type="text/javascript" src={{ url_for('static', filename='js/sessions.js') }}></script>
    <script type="text/javascript" src={{ url_for('static', filename='js/playlists.js') }}></script>
    <script type="text/javascript" src={{ url_for('static', filename='js/search.js') }}></script>
  </head>
  <body style='text-align: center;' ng-app='mixtapemaker'>
    <section id='playlists' ng-controller='Playlist'>
      <section ng-if='signedin && !searching'>
        <h1>MixtapeMaker</h1>
        <!-- <button ng-click='printScope()'>Scope</button><br> -->
        <section id='myPlaylists'>
          <ul class='navbar translucent'>
            <button ng-click='signout()'>Sign Out</button>
            <button ng-if='!modifying' ng-click='modifyingList()'>Add a Playlist</button>
            <form ng-submit='createPlaylist()' ng-if='modifying'>
              <input type='text' ng-model='$parent.$parent.playlistName' placeholder='Name'></input>
              <input type='submit'></input>
              <button ng-click='modifyingList()'>Cancel</button>
              <p ng-if='playlisterror'>A playlist with this name already exists</p>
            </form>
            <br ng-if='!modifying'>
            <span ng-repeat='playlist in playlists'>
              <li class='plbtn' ng-click='changePlaylist($index)'>{a playlist.name a}</li>
            </span>
          </ul>
          <section class='search eight columsn offset-by-two columns translucent'>
            <h3>
              {a currentPlaylist.name a}
              <button ng-click='search()'>Add Song</button>
            </h3>
            <section ng-if='currentPlaylist.videos.length > 0'>
              <span ng-repeat='vid in currentPlaylist.videos'>
                <span class='four columns video'>
                  <youtube-video video-id='vid.ytId' player-width="'300px'" player-height="'200px'" player='video'></youtube-video>
                  <br>{a parseName(vid.name) a}<br>
                  <button class='btn' ng-attr-id="{a 'play'+($index+1) a}" ng-click='video.playVideo()'><img class='play' src={{ url_for('static', filename='img/play.png') }}></img></button>
                  <button class='btn' ng-click='removeVideo(vid.name)'><img class='play' src={{ url_for('static', filename='img/delete.png') }}></img></button>
                </span>
              </span>
            </section>
          </section>
        </section>
      </section>
    </section>
    <section id='search' ng-controller='Searcher'>
      <article ng-if='searching' id='searchYoutube'>
        <section class='search eight columns offset-by-two columns translucent'>
          <h3>Search YouTube</h3>
          <input ng-model='$parent.key' placeholder="Artist/Song/Album"></input>
          <button ng-click="searchVideos()">Go</button>
          <button ng-click="end()">X</button>
          <br>
          <div ng-if='result' class="search list">
            <span ng-repeat='vid in result'>
              <span class='four columns translucent'>
                {a parseName(vid.snippet.title) a}
                <br>
                <youtube-video video-id='vid.id.videoId' player-width="'200px'" player-height="'150px'" ></youtube-video>
                <br>
                <button class='sidebtn' ng-click='addVideo(vid.id.videoId, vid.snippet.title, $index)'>
                  <img class='add' src={{ url_for('static', filename='img/add.png') }}></img>
                </button>
                <img ng-if='addedVideos.includes($index)' class='add' src={{ url_for('static', filename='img/check.png') }}></img>
              </span>
            </span>
          </div>
        </section>
      </article>
    </section>
    <nav class='translucent' id='accounting' ng-controller='Account'>
      <!-- <button ng-click='printScope()'>Scope</button><br> -->
      <section style='text-align: center;' ng-if='!signedin'>
        <h1 class='login'>MixtapeMaker</h1>
        <button class='logbtn' ng-click="switchState('signin')">Sign In</button>
        <button class='logbtn' ng-click="switchState('signup')">Sign Up</button>
        <form ng-if="currentState === 'signup'" ng-submit='signup()'>
          <h3>Sign Up</h3>
          <label>Username: </label><input name='email' type='email' ng-model='$parent.$parent.uemail' placeholder="email"></input>
          <label>Password: </label><input  name='password' type='password' ng-model='$parent.$parent.upassword' placeholder="password"></input>
          <br>
          <input type='submit'></input>
          <p ng-if='signuperror'>This email already exists</p>
        </form>
        <form ng-if="currentState === 'signin'" ng-submit='signin()'>
          <h3>Sign In</h3>
          <label>Username: </label><input ng-model='$parent.$parent.iemail' type='email' name='email' placeholder="email"></input>
          <label>Password: </label><input  ng-model='$parent.$parent.ipassword' type='password' name='password' placeholder="password"></input>
          <br>
          <input type='submit'></input>
          <p ng-if='signinerror'>This email/password combination is invalid</p>
        </form>
      </section>
    </nav>
  </body>
</html>
